<ion-header no-border>

    <ion-navbar color="orange">
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <ion-buttons>
                        <button ion-button icon-only (click)="goBack()">
                            <ion-icon name="arrow-dropdown"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-8>
                    <div text-center>
                        <ion-title>{{'MODALPAY.ADDPAYMETHOD' | translate}}</ion-title>
                    </div>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>

</ion-header>


<ion-content>
    <form [formGroup]="myForm">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-list>
                        <ion-item>
                            <ion-label color="primary" id="type-card">
                                <div *ngIf="card == '' || card == null || card == 'error' || card == 'Desconocido'">
                                    <img src="assets/imgs/credit-card.png">
                                </div>
                                <div *ngIf="card == 'Visa'">
                                    <img src="assets/imgs/visa-pay-logo.png">
                                </div>
                                <div *ngIf="card == 'MasterCard'">
                                    <img src="assets/imgs/master-card.png">
                                </div>
                                <div *ngIf="card == 'American Express'">
                                    <img src="assets/imgs/amex.png">
                                </div>
                            </ion-label>
                            <ion-input type="tel" maxlength="19" formControlName="cardNum" [placeholder]="CARDNUM" [(ngModel)]="cardNum" (ionChange)=chaneCard(cardNum)>
                            </ion-input>
                        </ion-item>
                        <ion-item [hidden]="!(respuestaCard == 'error')">
                            <div text-wrap>
                                <p id="texto">{{'MODALPAY.CARDINVALID' | translate}}</p>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-list>
                        <ion-item>
                            <ion-input type="tel" maxlength="5" formControlName="cardExpiryDate" placeholder="MM/YY" min="01" max="12" [(ngModel)]="cardExpiryDate" (ionChange)=chageCardExpiryDate(cardExpiryDate)>
                            </ion-input>
                        </ion-item>
                        <ion-item [hidden]="!(respuestaCardExpiryDate == 'error')">
                            <div text-wrap>
                                <p id="texto">{{'MODALPAY.DATEINVALID' | translate}}</p>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col col-6>
                    <ion-list>
                        <ion-item *ngIf="card == 'American Express'">
                            <ion-input type="tel" maxlength="4" formControlName="cardCvc" placeholder="CVC" [(ngModel)]="cardCvc" (ionChange)=changeCardCVC(cardCvc)>
                            </ion-input>
                        </ion-item>
                        <ion-item *ngIf="card != 'American Express'">
                            <ion-input type="tel" maxlength="3" formControlName="cardCvc" placeholder="CVC" [(ngModel)]="cardCvc" (ionChange)=changeCardCVC(cardCvc)>
                            </ion-input>
                        </ion-item>
                        <ion-item [hidden]="!(respuestaCardCvc == 'error')">
                            <div text-wrap>
                                <p id="texto">{{'MODALPAY.CODEINVALID' | translate}}</p>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div text-center>
                        <button ion-button full color="orange" (click)="rgistratTarjeta()" [disabled]="!myForm.valid">{{'BOTTONS.SAVE' | translate}}</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>