    page-place {
        // map style
        #map {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute!important;
            overflow: hidden!important;
        }
        .currentitem {
            position: fixed;
            opacity: .8;
            top: 12rem;
            left: 0;
            z-index: 103;
            width: 100%;
            height: 50px;
            .item-ios .item-inner {
                background: none;
                padding-right: 10px;
            }
        }
        .hidemap {
            visibility: hidden;
            margin-top: -1000px;
        }
        ion-searchbar {
            position: absolute;
            z-index: 3;
        }
        .titulo_serv {
            position: absolute;
            z-index: 3;
            padding: 0px 20px;
            border-radius: 2px;
            background-position: left 8px center;
            height: auto;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2rem;
            color: #141414;
            background-color: #fff;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            margin-top: 6rem;
        }
        ._titulo_serv {
            position: absolute;
            z-index: 3;
            padding: 0px 20px;
            border-radius: 2px;
            background-position: left 8px center;
            height: auto;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2rem;
            color: #141414;
            background-color: #fff;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        .searchbar-md {
            background: inherit;
            padding: 0px;
        }
        // .switch {
        //     position: fixed;
        //     bottom: 10px;
        //     left: 50%;
        //     transform: translate3d(-50%, -50%, 0);
        //     width: 80%;
        //     border-radius: 10px;
        //     text-align: center;
        //     z-index: 100;
        //     opacity: .9;
        //     .active {
        //         background: #E36485!important;
        //         color: #fff;
        //     }
        //     .button {
        //         width: 100px;
        //         margin: 0;
        //         padding: 0;
        //     }
        // }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .switch_locate {
                position: fixed;
                bottom: 90px;
                left: 95%;
                transform: translate3d(-50%, -50%, 0);
                width: 80%;
                border-radius: 10px;
                text-align: center;
                z-index: 100;
                opacity: .9;
                .button {
                    background: #E36485!important;
                    height: 40px;
                    width: 40px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        @media only screen and (min-width: 321px) {
            .switch_locate {
                position: fixed;
                bottom: 90px;
                left: 92%;
                transform: translate3d(-50%, -50%, 0);
                width: 80%;
                border-radius: 10px;
                text-align: center;
                z-index: 100;
                opacity: .9;
                .button {
                    background: #E36485!important;
                    height: 40px;
                    width: 40px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .card {
            background-color: #E36485; // black
        }
        .cantidad {
            color: aliceblue;
        }
        .card-content-md {
            padding: 4px 12px;
            font-size: 1.4rem;
            line-height: 1.5;
        }
        .card-content-ios {
            padding: 4px 12px;
            font-size: 1.4rem;
            line-height: 1.5;
        }
        .toolbar-title {
            overflow: visible;
            text-overflow: clip;
        }
        .toolbar-title-md {
            padding: 6px 12px;
        }
        .toolbar-ios ion-title {
            padding: 0px 0px 0px;
        }
        #masProductos {
            text-align: center;
            margin-top: 8%;
            font-size: 1.2rem;
        }
        #E {
            font-size: 1.2rem;
            color: #f53d3d;
        }
        #M {
            font-size: 1.2rem;
            color: #E36485;
        }
        .backgraud-content {
            background-image: url('../assets/imgs/pq.svg');
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100% 130%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            z-index: 1;
            position: absolute;
        }
        .card {
            background-color: #ffffff;
            border-radius: 2rem;
        }
        .input1 {
            width: 100%;
            height: 4.5rem;
            border-radius: 1rem;
            font-size: 1.4rem;
            background: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            margin-bottom: 4rem;
            margin-top: 3rem;
            border: aliceblue;
            text-align: -webkit-center;
            border: 1px solid #E36485;
        }
        .tex2 {
            width: 100%;
            height: 8rem;
            border-radius: 1rem;
            font-size: 1.4rem;
            background: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            margin-bottom: 4rem;
            margin-top: 3rem;
            border: aliceblue;
            text-align: -webkit-center;
            border: 1px solid #E36485;
        }
        .carsForce {
            background-color: #E36485 !important;
        }
    }