<ion-content>
    <div class="background animated fadeInDown">
        <div class="contents">
            <div text-center>
                <img src="assets/imgs/logo-mini.png">
            </div>
            <br>
            <ion-card>
                <ion-card-header>
                    <div text-center>
                        <ion-title>{{'LOGIN_REGISTRO.SIGNUP' | translate}}</ion-title>
                    </div>
                </ion-card-header>
                <ion-list no-lines>

                    <ion-item>
                        <ion-label floating>{{'LOGIN_EMAIL.EMAIL' | translate}}</ion-label>
                        <ion-input type="text" [(ngModel)]="user"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>{{'LOGIN_EMAIL.PASSWORD' | translate}}</ion-label>
                        <ion-input type="password" [(ngModel)]="password"></ion-input>
                    </ion-item>

                </ion-list>
                <br>
                <br>
                <ion-row>
                    <ion-col col-6>
                        <button ion-button block outline color="orange" (click)="cerrarModal()">{{'LOGIN_REGISTRO.BACK' | translate}}</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button block color="orange" (click)="emailRegistro()">{{'LOGIN_REGISTRO.SIGNUP_' | translate}}</button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
    </div>
</ion-content>