<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <!-- <div class="circle">
            <img src="assets/imgs/logo-icon.png" class="imgRedonda">
        </div> -->
        <ion-grid>
            <div [formGroup]="myForm" class="separador">
                <ion-row>
                    <ion-col col-12>
                        <div text-center>
                            <h3>{{'MODPRODUCT.WHATDO' | translate}}</h3>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12 text-center>
                        <div text-center class="cantidad">{{'MODPRODUCT.QT' | translate}}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4 text-center>
                        <button ion-button item-end color="orange" (click)="decrement()">
                            <ion-icon name="remove-circle" style="zoom:1.4;"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-4 text-center>
                        <div class="caja">
                            <span>{{currentNumber}}</span>
                        </div>
                    </ion-col>
                    <ion-col col-4 text-center>
                        <button ion-button item-end color="orange" (click)="increment()">
                            <ion-icon name="add-circle" style="zoom:1.4;"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <textarea   [(ngModel)]="_nota" formControlName="_nota" [placeholder]="  _producto" class="tex1"></textarea>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <textarea  [(ngModel)]="nota" formControlName="nota" [placeholder]="   _descripcion" class="tex2"></textarea>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 text-center>
                        <button ion-button color="orange" round (click)="goBack()">{{'BOTTONS.CANCEL' | translate}}</button>
                    </ion-col>
                    <ion-col col-6 text-center>
                        <div *ngIf="this.servicoID == undefined && this.pedidoID == undefined">
                            <div *ngIf="this.idx != undefined">
                                <button ion-button color="aceptar" (click)="modificar_producto(currentNumber, nota, _nota, idx)" round [disabled]="!myForm.valid">
                                    {{'BOTTONS.SAVE' | translate}}
                                </button>
                            </div>
                            <div *ngIf="this.idx == undefined">
                                <button ion-button color="aceptar" (click)="agregar_producto(currentNumber, nota, _nota)" round [disabled]="!myForm.valid">
                                    {{'BOTTONS.SAVE' | translate}}
                                    </button>
                            </div>
                        </div>
                        <div *ngIf="this.servicoID != undefined && this.pedidoID != undefined">
                            <div *ngIf="this.idx != undefined">
                                <button ion-button color="aceptar" (click)="modificar_producto_serv(currentNumber, nota, _nota, idx)" round [disabled]="!myForm.valid">
                                        {{'BOTTONS.SAVE' | translate}}
                                    </button>
                            </div>
                            <div *ngIf="this.idx == undefined">
                                <button ion-button color="aceptar" (click)="agregar_producto_serv(currentNumber, nota, _nota)" round [disabled]="!myForm.valid">
                                        {{'BOTTONS.SAVE' | translate}}
                                    </button>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>

</ion-content>
