page-second-landing {
    .background {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 100%;
        background-image: url('../assets/imgs/landing-page.png');
        z-index: 1;
        background-size: cover;
        position: absolute;
        .contents {
            text-align: center;
            margin-top: 45%;
            p {
                text-transform: uppercase;
                font-size: 22px;
            }
            .select-box {
                margin-bottom: 10%;
            }
        }
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
}