page-modal-version-app {
    .main-view {
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: -webkit-fill-available;
        z-index: 1;
        opacity: .5;
        background-color: #333;
    }
    .modal_content {
        display: table;
        position: relative;
        top: calc(50% - (50%/2));
        left: 0;
        right: 0;
        width: 100%;
        height: 32%;
        padding: 10px;
        z-index: 1;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: #e8e8e8;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        //overflow: hidden;
    }
    hr {
        height: 1rem !important;
        width: 50%;
        background-color: #E36485 !important;
        margin-bottom: 3rem;
    }
    .app {
        color: #9E9E9E;
        font-weight: bold;
        margin-top: 4rem;
    }
    .version {
        margin-bottom: 3rem;
    }
}