page-delivery-confirmation {
    text-align: center;
    .title1 {
        font-size: 20px;
        color: $orange;
        font-weight: bold;
    }
    .title2 {
        color: #504e4e;
        font-weight: bold;
    }
    ion-list .item {
        border-bottom: 1px solid $orange !important;
    }
    .datetime {
        padding: 0px !important;
    }
    .logo {
        width: 25%;
        border-radius: 50%;
        margin-top: 2%;
        border: 1px solid #d0330f;
        -webkit-box-shadow: 1px 2px 9px 11px #efefef;
    }
    .toolbar-title {
        overflow: visible;
        text-overflow: clip;
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
}