page-products {
    .currentitem {
        position: fixed;
        opacity: .8;
        top: 12rem;
        left: 0;
        z-index: 103;
        width: 100%;
        height: 50px;
        .item-ios .item-inner {
            background: none;
            padding-right: 10px;
        }
    }
    .hidemap {
        visibility: hidden;
        margin-top: -1000px;
    }
    .switch {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 80%;
        border-radius: 10px;
        text-align: center;
        z-index: 100;
        opacity: .9;
        .active {
            background: #E36485!important;
            color: #fff;
        }
        .button {
            width: 100px;
            margin: 0;
            padding: 0;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .switch_locate {
            position: fixed;
            bottom: 90px;
            left: 95%;
            transform: translate3d(-50%, -50%, 0);
            width: 80%;
            border-radius: 10px;
            text-align: center;
            z-index: 100;
            opacity: .9;
            .button {
                background: #E36485!important;
                height: 40px;
                width: 40px;
                margin: 0;
                padding: 0;
            }
        }
    }
    @media only screen and (min-width: 321px) {
        .switch_locate {
            position: fixed;
            bottom: 90px;
            left: 92%;
            transform: translate3d(-50%, -50%, 0);
            width: 80%;
            border-radius: 10px;
            text-align: center;
            z-index: 100;
            opacity: .9;
            .button {
                background: #E36485!important;
                height: 40px;
                width: 40px;
                margin: 0;
                padding: 0;
            }
        }
    }
    .card {
        background-color: #E36485; // black
    }
    .cantidad {
        color: aliceblue;
    }
    .card-content-md {
        padding: 4px 12px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .card-content-ios {
        padding: 4px 12px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .toolbar-title {
        overflow: visible;
        text-overflow: clip;
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
    .toolbar-ios ion-title {
        padding: 0px 0px 0px;
    }
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }
    .list-ios {
        margin: 0px 0 0px;
    }
    .list-md {
        margin: 0px 0 5px;
    }
    #E {
        font-size: 1.2rem;
        color: #f53d3d;
    }
    #M {
        font-size: 1.2rem;
        color: #E36485;
    }
    #masProductos {
        text-align: center;
        margin-top: 8%;
        font-size: 1.2rem;
    }
}