page-delivery-restaurant {
    #google-v1 {
        overflow-y: hidden;
        #order-info {
            width: 100%;
            height: auto;
            background: $orange;
            .grid {
                padding: 0px !important;
                .dot-left {
                    color: #fff;
                    font-size: 25px;
                    left: 25px;
                    text-align: center;
                }
                .dot-right {
                    color: #fff;
                    font-size: 25px;
                    right: 25px;
                    text-align: center;
                }
                .custom-row {
                    color: #fff;
                    font-weight: bold;
                    .col {
                        padding-right: 0%;
                        padding: 0%;
                        color: #efefef;
                    }
                }
            }
        }
        ion-grid {
            padding: 0px !important;
        }
        #track-info {
            width: 100%;
            height: auto;
            display: inline-block;
            .track-title {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }
            .track-des {
                text-align: center;
                color: #343434;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
            }
        }
        #map {
            width: 100%;
            height: 37rem;
        }
        #delivery-details {
            height: auto;
            width: 100%;
            position: fixed;
            bottom: 0%;
            overflow: hidden;
            background-color: white;
            -webkit-box-shadow: -2px -6px 94px -18px #c8c7cc;
            box-shadow: -2px -6px 94px -18px #c8c7cc;
            border-radius: 5px;
            border: 1px solid #c8c7cc;
            .left {
                width: 60%;
                padding-left: 5%;
                .title {
                    font-size: 14px;
                    color: #d0340f;
                    font-weight: bold;
                }
            }
            .right {
                width: 40%;
                line-height: 10px;
                padding-top: 2%;
                padding-left: 2%;
                border-left: 1px solid #333;
            }
        }
    }
    .toolbar-title {
        overflow: visible;
        text-overflow: clip;
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
    .fab[mini] {
        margin: 8px;
        width: 30px;
        height: 30px;
        line-height: 40px;
    }
    .divStatus {
        color: black;
    }
    agm-map {
        width: 100%;
        height: 44rem;
    }
    .status {
        margin-left: -2rem;
    }
    ._estatus {
        padding: 1.5rem;
    }
    #_estatus {
        padding: 2rem;
    }
    .statusText {
        margin-top: 0rem;
    }
    .imgRedonda {
        position: static !important;
        height: auto !important;
        width: 100% !important;
        border-radius: 5rem;
        border: 0.3rem solid #E36485;
        background: #E36485;
        z-index: 3;
    }
    .call {
        position: absolute;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 2px solid #E36485;
        left: 88%;
        margin-left: -55px;
        top: 14px;
        background: #E3648529;
        z-index: 10000;
    }
    .iconCall {
        margin-top: 1.5rem;
        display: inline-block;
        font-size: 2rem;
    }
    .orange {
        color: #E36485;
    }
    .moto {
        margin-top: 1.4rem;
        font-size: 1.6rem;
        color: #9E9E9E;
        width: 100%;
    }
    .lds-ring {
        display: inline-block;
        position: absolute;
        width: 0px;
        height: 0px;
        margin-left: -107%;
        top: -6%;
    }
    .lds-ring div {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 38px;
        height: 38px;
        margin: 6px;
        border: 4px solid #fff;
        border-radius: 50%;
        -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .spinner {
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;
        margin-left: 30%;
    }
    .spinner>div {
        background-color: #efefef;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
    @-webkit-keyframes sk-stretchdelay {
        0%,
        40%,
        100% {
            -webkit-transform: scaleY(0.4)
        }
        20% {
            -webkit-transform: scaleY(1.0)
        }
    }
    @keyframes sk-stretchdelay {
        0%,
        40%,
        100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }
        20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }
    #center_load {
        margin: auto;
        width: 50%;
    }
    .palomita {
        float: left;
    }
    ._spinner {
        width: 80px;
        height: 80px;
        background-color: #E36485;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
    }
    @-webkit-keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0)
        }
        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }
    }
    @keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        100% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
            opacity: 0;
        }
    }
}